<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./element-plus/index.css" />
  <style>
    body {
      box-sizing: border-box;
    }
  </style>
</head>

<body style="padding: 0;margin: 0;">
  <div id="app" style="width: 100vw;height: 100vh;display: flex;flex-direction: column;">
    <div style="width: 100%;height: 40px;border-bottom: 1px solid #CDD0D6;">head</div>
    <div style="width: 100%;flex: 1;display: flex;">
      <div style="width: 300px;height: 100%;border-right: 1px solid #CDD0D6;padding: 10px;">
        <el-select v-model="selectDb" placeholder="Select" style="width: 100%">
          <el-option v-for="item in dbs" :key="item.name" :label="item.name" :value="item.name">
          </el-option>
          <template #footer>
            <div v-if="newDbForm.adding" style="display: flex;width: 100%;">
              <el-input v-model="newDbForm.name" style="flex:1" size="small"></el-input>
              <el-button size="small" style="margin-left: 8px;" icon="Check" @click="newDb(newDbForm.name)"></el-button>
              <el-button @click="newDbForm.adding=false" size="small" style="margin-left: 8px;"
                icon="Close"></el-button>
            </div>
            <el-button v-else style="width: 100%;" icon="Plus" @click="newDbForm.adding=true" size="small">
              新建数据库
            </el-button>
          </template>
        </el-select>
      </div>
      <div style="height: 100%;flex: 1;">

      </div>
    </div>
  </div>
  <script src="./vue3/vue.global.js"></script>
  <script src="./element-plus/index.full.js"></script>
  <script src="./element-plus/icon.js"></script>
  <script src="./util/api.js"></script>
  <script>
    const { createApp, ref } = Vue
    const app = createApp({
      data() {
        return {
          newDbForm: {
            adding: false,
            name: "",
          },
          dbs: [],
          selectDb: ""
        }
      },
      mounted() {
        this.listDbs();
      },
      methods: {
        listDbs() {
          httpPost("/api/listDbs").then(res => {
            this.dbs = res.data;
          })
        },
        selectDb(id) {
          httpPost("/api/selectOrNewDb", { id }).then(res => {
            
            console.log(res);
          })
        },
        newDb(name) {
          httpPost("/api/selectOrNewDb", { name }).then(res => {
            this.listDbs();
            console.log(res);
          })
        }
      }
    });

    app.use(ElementPlus);
    for ([name, comp] of Object.entries(ElementPlusIconsVue)) {
      app.component(name, comp);
    }
    app.mount('#app')
  </script>
</body>

</html>